usr/agite/agite.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT agite (xterm,editor,viewer,differator,make,period,list_tags,
                 last_dir,bookmarks*)>

<!ELEMENT xterm (#PCDATA)>
<!ELEMENT editor (#PCDATA)>
<!ELEMENT viewer (#PCDATA)>
<!ELEMENT differator (#PCDATA)>
<!ELEMENT make (#PCDATA)>
<!ELEMENT period (#PCDATA)>
<!ELEMENT list_tags (#PCDATA)>
<!ELEMENT last_dir (#PCDATA)>
<!ELEMENT bookmarks (bookmark*)>
<!ELEMENT bookmark (#PCDATA)>
<!ATTLIST bookmark Name CDATA #IMPLIED>

