usr/tests/data/dtd_3.dtd

<?xml version="1.1" encoding="UTF-8"?>

<!ELEMENT try (#PCDATA|bold|italic|underline|subscript|superscript)*>
<!ATTLIST try xml:space (default|preserve) "preserve">
<!ELEMENT bold (#PCDATA)>
<!ELEMENT italic (#PCDATA)>
<!ELEMENT underline (#PCDATA)>
<!ELEMENT subscript (#PCDATA)>
<!ELEMENT superscript (#PCDATA)>

