reposit/Afpx.dtd

<?xml version="1.1"?>
<!-- DTD for Afpx xml definition -->

<!-- General Informations -->
<!-- ==================== -->
<!-- Only Mixed_Case keywords are accepted (not lowercase nor UPPERCASE) -->
<!-- Rows are from 0 to 255 -->
<!-- Cols are from 0 to 255 -->

<!-- Syntax and semantic of the descriptor file -->
<!-- ========================================== -->
<!ATTLIST Afpx_Descriptors Width CDATA #IMPLIED
                           Height CDATA #IMPLIED>

<!-- Afpx_Descriptors allows defining the screen size for all descriptors -->
<!--  Default are a Height of 25 and a Width of 80 -->
<!ELEMENT Afpx_Descriptors (Var*,Descriptor*)>

<!-- Between descriptors, it is possible to define and overwrite variables -->
<!--  A variable name must be <Identifier>[{.<Idenfier>}] the Ada way. -->
<!--  Value can be string or number, and contain some ${Variable} -->
<!ELEMENT Var EMPTY>
<!ATTLIST Var Name  NMTOKEN #REQUIRED
              Value CDATA   #REQUIRED>

<!-- The Afpx_Descriptors is made of several descriptors -->
<!-- Descriptor Num has to be positive range 1 .. 50 and sole (no double) -->
<!ATTLIST Descriptor Num NMTOKEN #REQUIRED>

<!-- A descriptor allows defining one optional list then fields -->
<!-- Before and between them, it is possible to define and overwrite -->
<!--  variables that are valid in the descriptor only -->
<!ELEMENT Descriptor (Var*, List?,(Var|Field)*)>

<!-- List has to be defined none or once per descriptor, at the beginning -->
<!-- List (like fields) is defined by a geometry and colors -->
<!ATTLIST List>
<!ELEMENT List (Geometry,Colors)>

<!-- Field Num has to be within Field_Range (1 .. 200), strictly crescent -->
<!-- within one descriptor, no "hole", no double are allowed -->
<!ATTLIST Field Num NMTOKEN #REQUIRED Kind (Put|Button|Get) #REQUIRED>
<!-- Field are defined by a geometry and colors -->
<!-- Fields also allow defining an initial content (several rows and cols) -->
<!ELEMENT Field (Geometry,Colors,Init*)>

<!-- Geometry must define at least one row and one col -->
<!-- Geometry must not make the field overlap with another field of the -->
<!--  descriptor. Geometry of a Get field must define only one row -->
<!ELEMENT Geometry EMPTY>
<!ATTLIST Geometry Up  CDATA #REQUIRED Left  CDATA #REQUIRED
                   Low CDATA #REQUIRED Right CDATA #REQUIRED>

<!-- Foreground color must be of Colors for Put fields -->
<!--  and of Basic_Colors for Button, Get and List -->
<!-- Background color and Selected color must be Basic_Colors -->
<!-- Blink is mandatory (True or False) for Put fields and must not be -->
<!--  specified for List, Button and Get fields -->
<!-- Selected color is mandatory for List and Get fields and -->
<!--  must not be specified for Put and Button -->
<!-- Summary of color combinations -->
<!-- ============================= -->
<!-- Type  |   Foreground  Blink  Background  Selected -->
<!-- ================================================= -->
<!-- Put   |   X Colors    X      X Basic -->
<!-- Button|   X Basic            X Basic -->
<!-- Get   |   X Basic            X Basic     X Basic -->
<!-- List  |   X Basic            X Basic     X Basic -->
<!-- ================================================ -->
<!ELEMENT Colors EMPTY>
<!ENTITY % Basic_Colors "Black|Blue|Green|Cyan|Red|Magenta|Brown|Light_Gray">
<!ENTITY % Colors "%Basic_Colors;|
                   Dark_Gray|Light_Blue|Light_Green|Orange|Yellow|White">
<!ENTITY % Blink "True|False">
<!ATTLIST Colors Foreground CDATA #REQUIRED
                 Blink CDATA #IMPLIED
                 Background CDATA #REQUIRED
                 Selected CDATA #IMPLIED>

<!-- Init Row has to be compatible with Geometry -->
<!-- Init Col has to be compatible with Geometry -->
<!-- Init string has to be compatible with Geometry and Init Col -->
<!ELEMENT Init (#PCDATA)>
<!ATTLIST Init Row CDATA #REQUIRED Col CDATA #REQUIRED
               xml:space (default|preserve) "preserve">

