reposit/Afpx.dtd

<?xml version="1.0"?>
<!-- DTD for Afpx xml definition -->
<!-- Syntax of the descriptor file -->
<!-- ============================= -->
<!ELEMENT Afpx_Descriptors (Descriptor*)>

<!ELEMENT Descriptor (List?,Field*)>
<!ATTLIST Descriptor Num ID #REQUIRED>

<!ELEMENT List (Geometry,Colors)>

<!ELEMENT Field (Geometry,Colors,Init*)>
<!ATTLIST Field Num ID #REQUIRED Kind (Put|Button|Get) #REQUIRED>

<!ELEMENT Geometry EMPTY>
<!ATTLIST Geometry Up CDATA #REQUIRED Left CDATA #REQUIRED
                   Low CDATA #REQUIRED Right CDATA #REQUIRED>

<!ELEMENT Colors EMPTY>
<!ATTLIST Colors Foreground CDATA #REQUIRED Blink CDATA #IMPLIED
                 Background CDATA #REQUIRED Selected CDATA #IMPLIED>

<!ELEMENT Init (#PCDATA)>
<!ATTLIST Init Row CDATA #REQUIRED Col CDATA #REQUIRED>

<!-- Semantic of the descriptor file -->
<!-- =============================== -->
<!-- - Descriptor Num has to be positive range 1 .. 50 and sole (no double) -->
<!-- - List has to be defined none or once per descriptor -->
<!-- - Field Num have to be within Field_Range (1 .. 200), strictly crescent -->
<!-- within one descriptor, no "hole", no double -->
<!-- - Geometry must define at least one row and one col -->
<!-- - Geometry must not make the field overlap with another field of the -->
<!-- Descriptor -->
<!-- - Geometry of a Get field must define only one row -->
<!-- - Foreground color must be of Colors for Put fields -->
<!-- and of Basic_Colors for Button, Get and List -->
<!-- - Background color and Selected color must be Basic_Colors -->
<!-- - Blink is mandatory (True or False) for Put fields and must not be -->
<!-- specified for List, Button and Get fields -->
<!-- - Selected color is mandatory for List and Get fields and -->
<!-- must not be specified for Put and Button -->
<!-- - Init Row have to be compatible with Geometry -->
<!-- crescent, no double (holes allowed) -->
<!-- - Init Col have to be compatible with Geometry -->
<!-- - Init string have to be compatible with Geometry and Init Col -->
<!--  -->
<!-- Infos -->
<!-- ===== -->
<!-- Separator is space or tabulation -->
<!-- Only Mixed_Case keywords are accepted (not lowercase nor UPPERCASE) -->
<!-- Rows are from 0 to 24 -->
<!-- Cols are from 0 to 79 -->
<!-- Basic colors are Black, Blue, Green, Cyan, Red, Magenta, Brown, Light_Gray -->
<!-- Colors are basic colors plus Dark_Gray, Light_Blue, Light_Green, Orange, -->
<!-- Yellow, White -->
<!-- Blink is "Blink" or "Not_Blink" -->
<!-- Upper case is mandatory for keywords, not significant for colors and blink, -->
<!-- significant for init_string -->
<!--  -->
<!-- Summary of color combinations -->
<!-- ============================= -->
<!-- Type  |   Foreground  Blink  Background  Selected -->
<!-- ================================================= -->
<!-- Put   |   X Colors    X      X Basic -->
<!-- Button|   X Basic            X Basic -->
<!-- Get   |   X Basic            X Basic     X Basic -->
<!-- List  |   X Basic            X Basic     X Basic -->
<!-- ================================================ -->

