reposit/Autobus.dtd

<?xml version="1.1" encoding="UTF-8"?>
<!-- DTD for Autobus configuration -->

<!ENTITY % Tuning "Heartbeat_Period CDATA #IMPLIED
                   Heartbeat_Max_Missed CDATA #IMPLIED
                   Timeout CDATA #IMPLIED">

<!-- This file contains several configurations, each for several buses -->
<!ELEMENT Autobus (Config*)>
<!-- A heartbeat setting and connection timeout by default -->
<!ATTLIST Autobus %Tuning;>

<!-- A heartbeat setting and connection timeout for several buses -->
<!ELEMENT Config (Bus*)>
<!ATTLIST Config %Tuning;>

<!ELEMENT Bus EMPTY>
<!ATTLIST Bus Name ID #REQUIRED>

