reposit/Channels.dtd

<?xml version="1.0" encoding="Utf-8"?>

<!-- DTD for the Channel package -->
<!-- +++++++++++++++++++++++++++ -->

<!ELEMENT Channels (Channel)*>

<!-- Each channel has a unique name and defines a list of hosts -->
<!ELEMENT Channel (Host)*>
<!ATTLIST Channel Name ID #REQUIRED>

<!-- Host name or IP address -->
<!ELEMENT Host (#PCDATA)>

